
.video-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 0;
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px;
}

.video-author {
    font-size: 14px;
    color: rgb(96, 96, 96);
}
.thumbnail {
     width: 300px;
     display: block;
 }

 .search-bar {
     font-size: 20px;
     margin-left: 12;
     display: block;
 }

 .video-preview {
     width: 300px;
     display: inline-block;
     vertical-align: top;
     margin: 15px;

 }
 .channel-picture{
    width: 50px;
    display: inline-block;
    vertical-align: top;

 }
 .video-info{
    width: 200px;
    display: inline-block;
 }
 .profile-picture{
    width: 40px;
    border-radius: 20px;
 }
 .thumbnail-row{
    margin-bottom: 12px
 }